/* Viewport layout */
html, body, #root {
  height: 100%;
}

.viewport-stage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.viewport-box {
  background: #666;
}
